.trade {
  background-color: #808080;
}

.trade-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 5%;
}

.trade-left-form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 100%;
  padding: 5px;
  transition: all 1s ease-in-out 0.2s;
  transform: translateX(-50%);
  opacity: .5;
}

.trade-left-form.active {
  transform: translateX(50%);
  opacity: 1;
}

.trade-left-form__card-search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 40vh;
  margin: 15px 0;
}

.trade-left-form__card-img {
  margin: 10px 0;
  max-width: 80%;
}

/*Right Form */
.trade-right-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  transition: transform 1s ease-in-out 0.2s;
  transform: translateX(90%);
  opacity: .5;
}

.trade-right-form.active {
  transform: translateX(-40%);
  opacity: 1;
}

.trade-right-form__card-search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 40vh;
  margin: 15px 0;
}

.trade-right-form__card-img {
  margin: 10px 0;
  max-width: 80%;
}
