@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing__banner {
  min-height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.all {
  background-image: url('../../assets/images/tcg-banner.PNG');
}

.ygo {
  background-image: url('../../assets/images/ygo-banner.jpg');
}

.mtg {
  background-image: url('../../assets/images/mtg-banner.jpg');
}

.poke {
  background-image: url('../../assets/images/poke-banner.png');
}

.landing__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.landing__header {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 5%;
}
.landing__header h1 {
  font-size: 28px;
}

.landing__header img {
  max-width: 25%;
}

.trade {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 2% 0;
  background-color: #1c1c1c;
  color: #fff;
}

.trade__header {
  text-align: center;
}

.trade__header h1 {
  font-size: 2rem;
}

/* Encases left and right trade list */
.trade__view-container {
  display: flex;
  flex-direction: row;
}

.trade__left {
  height: 100%;
  width: 50%;
  padding: 3%;
  border-right: 1px solid #808080;
}

.trade__left .trade__trade-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trade__left .trade__img-container {
  width: 30%;
  padding: 1%;
}

.trade__right {
  height: 100%;
  width: 50%;
  padding: 3%;
}

.trade__right .trade__trade-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trade__right .trade__img-container {
  width: 30%;
  padding: 1%;
}

.trade__img-container:hover {
  animation-name: wiggle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.2s;
}

.trade_img {
  height: auto;
  max-width: 90%;
}

.trade__signup {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  background-color: #1c1c1c;
  padding-bottom: 2%;
  color: #fff;
}

.about__container {
  display: flex;
  flex-direction: row;
}

.about__header {
  text-align: center;
}

.about__section-header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.about__description {
  text-align: center;
}

.about__item {
  flex: 1;
}

.newsletter {
  padding: 1% 0;
  background-color: #f5f7fd
  ;
}

.newsletter__container {
  text-align: center;
  color: #000;
}

.tcg {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: #F5F7FD;
}

.tcg__item-container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
  transition: all .3s ease-in-out;
  background-color: rgba(0,0,0,.2);

}

.tcg__item-container:hover {
}

.tcg__item-container:nth-child(1) {
}

.tcg__item-container h3 {
  font-size: 28px;
  font-weight: bolder;
  color: #f5f7fd;
}

.tcg__item-container img {
  height: auto;
  max-width: 80%;
}
