.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing__banner {
  height: 60vh;
  width: 100%;
  background-image: url('../../assets/images/landing-banner.png');
  background-position: center;
  background-size: auto;
  position: relative;
}

.landing__header {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 5%;
}
.landing__header h1{
  font-size: 28px;
}

.landing__header img{
  max-width: 25%;
}

.trade {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 2% 0;
  background-color: #1C1C1C;
  color: #fff;
}

.trade__header {
  text-align: center;
}

/* Encases left and right trade list */
.trade__view-container {
  display: flex;
  flex-direction: row;
}

.trade__left {
  height: 100%;
  width: 50%;
  padding: 3%;
  border-right: 1px solid #808080;
}

.trade__left .trade__trade-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trade__left .trade__img-container {
  width: 30%;
  padding: 1%;
}

.trade__right {
  height: 100%;
  width: 50%;
  padding: 3%;
}

.trade__right .trade__trade-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trade__right .trade__img-container {
  width: 30%;
  padding: 1%;
}

.trade_img {
  height: auto;
  max-width: 100%;
}

.trade__signup {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  background-color: #1C1C1C;
  padding-bottom: 2%;
  color: #fff;
}

.about__container {
  display: flex;
  flex-direction: row;
}

.about__header {
  text-align: center;
}

.about__section-header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.about__description {
  text-align: center;
}

.about__item {
  flex: 1;
}

.newsletter {
  padding: 1% 0;
  background-color: #000;
}

.newsletter__container {
  text-align: center;
  color: #fff;
}