@keyframes grow {
  0% {
    transform: scale(.3);
    opacity: .3;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1; 
  }
  70% {
    transform: scale(1);
    opacity: 1; 
  }
  100% {
    transform: scale(1);
    opacity: 1;   
  }
}

@keyframes popup {
  0% {
    transform: scale(.3);
    opacity: .3;
  }
  100% {
    transform: scale(1);
    opacity: 1;   
  }
}

.activity {
  height: 200px;
  background-color: #1c1c1c;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.activity__header { 
  height: 20%;
  display: flex;
  flex-direction: row;
}

.activity__header img {
  max-width: 100%;
  height: auto;
  margin-left: .5%;
  margin-bottom: 2%;
  
}

.activity h4 {
  margin: 0;
  color: #fff;
}
  
  .activity__bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100%;
  }
  
  .activity__item  {
    height: 100%;
    max-width: 100%;
    /* animation-name: grow;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal; */
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: relative;
  }

  .activity__item:hover {
    -webkit-box-shadow: 0px 0px 15px 3px #FFFFFF; 
    box-shadow: 0px 0px 15px 3px #FFFFFF;
  }

  .activity__item:nth-child(1) {
    animation-delay: .06s;
  }

  .activity__item:nth-child(2) {
    animation-delay: .07s;
  }

  .activity__item:nth-child(3) {
    animation-delay: .08s;
  }

  .activity__item:nth-child(4) {
    animation-delay: .09s;
  }

  .activity__item:nth-child(5) {
    animation-delay: .1s;
  }

  .activity__item:nth-child(6) {
    animation-delay: .2s;
  }

  .activity__item:nth-child(7) {
    animation-delay: .3s;
  }

  .activity__item img {
  height: inherit;
  max-width: 100%;
  }
  
  .card-container {
    height: 100%;
  }

  /* .popup {
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: khaki;
    top: -90%;
    right: -175%;
    opacity: 0;
    transition: all .1s ease-in-out;
    padding: 5px;
    cursor: none;
    z-index: -5;
  }

  .popup p, a {
    font-size: .7rem;
  } */

/* .show {
  opacity: 1;
  z-index: 5;
} */