.popup {
    position: relative;
}

.popup img {
    max-width: 60%;
    position: relative;
}

.popup img:hover {
    -webkit-box-shadow: 0px 0px 15px 3px #FFFFFF; 
    box-shadow: 0px 0px 15px 3px #FFFFFF;
  }

.popup__overlay {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.popup__tab {
    background-color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
    text-align: right;
    transition: transform .5s ease-in-out;
    height: 25%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup__tab.fav {
    color: lightcoral;
}

.popup__tab svg {
    height: 80%;
    width: 100%;
}

.popup:hover .popup__tab {
    transform: translateX(100%);
}