.tradelist {
    width: 100%;
    padding: 0 20px;
}

.tradelist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tradelist-card {
    margin: 15px 10px;
}

.tradelist-card > * {
    text-align: left;
}